@import url(./base.css);

body {
    font-family: var(--mainFont);

    background-color: #fff;
}

.header {
    padding: 20px 20px;
    background-color: #eee;
}

.header .logo {
    color: var(--mainColor);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

.header .logo a {
    color: var(--mainColor);
}

.header .logo img {
    width: 30px;

}

.menu {
    display: none;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 16px;


}

.navbar ul li a {
    color: #101928
}

.active {
    font-weight: 900;
}

.auth {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    gap: 16px;

}

.auth a {
    font-family: var(--subFont);
    padding: 10 0;
    gap: 8px;
    border-radius: 10px;
    padding: 5.3px 30.1px;
}

.auth .login {
    font-weight: 700;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);

}

.auth .Register {
    color: #fff;
    background-color: var(--mainColor);

}

/*media header*/

@media screen and (max-width: 992px) {
    .navbar,
    .auth {
        display: none;
    }

    .menu {
        display: block;
        order: 2;
    }

}
@media screen and (max-width: 576px) {
    .container {
        width: calc(100% - 50px);
    }

    .header .logo img {
        width: 20px;
    
    }
    .header .logo a{
        font-size: 14px;
    }

}
 
/*footer*/

.footer {
    background-color: #393E46;
    padding: 50px 0;
    color: #fff;
}
.footer .logo {
display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}
.footer .logo img{
    width: 30px;
}
.footer a{
    color: #fff;
}
.footer .start{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    width:400px;
}

.footer .end{
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;

}
.footer .nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;

}

.footer .icons img {
    border: 1px solid #fff ;
    padding: 10px;
    width: 10px;
    height: 10px;
}
/*media footer*/
@media screen and (max-width: 1200px) {
    .footer .start{
        width: 100%;
    }

}
@media screen and (max-width: 769px) {
    
    .footer-item {
       width: 33%;
       margin-bottom: 20px;
    }
   
   

}
@media screen and (max-width: 576px) {
    
    .footer-item {
       width: 100%;
    }
   
   

}

